@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-gray-900 antialiased;
  }
  ::selection {
    @apply bg-purple-100 text-purple-900;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-purple-500 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-600;
}